body, html {
    background-color: #efefef;
}

.row {
    margin: 0;
}

/* Nav */

.nav-wrapper a {
    padding: 0px 10px 0px 10px;
}

.nav-wrapper li {
    transition: all 0.25s ease;
    border-bottom: 2px solid transparent;
}

.nav-wrapper li:hover {
    transition: all 0.25s ease;
    border-bottom: 2px solid #3C91E6;
}


/* Header */

.header {
    background-position: center top;
    padding: 50px 0px 50px 0px;
}

.header img {
    max-width: 25%;
}



/* Voting Page */

.vote-main a {
  margin-top: 5px;
  margin-bottom: 5px;
}

.vote-main img {
  margin-top: 15px;
}

/* Policy */
.policy-main .card-panel {
  margin-top: 50px;
}

.policy-main h5 {
  text-align: center;
  padding-bottom: 5px;
}

/* Store Page */
.store-main .card-panel {
  margin-top: 50px;
}

.store-main h5 {
  text-align: center;
  padding-bottom: 5px;
}

/* Staff Page */
.staff-main .space {
  margin-top: 40px;
}
.staff-main .col {
  padding-top: 10px;
  padding-bottom: 10px;
}
.staff-main h4, .staff-main h5 {
  text-align: center;
  padding-bottom: 5px;
}

/* Mobile Stuff */

@media screen and (max-width: 992px) {
    hr {
        visibility: hidden;
        display: none;
        color: transparent;
    }
    .header img {
        min-width: 50%;
    }
    .page-footer .l4 {
        padding-bottom: 10px;
    }
    .vote-main {
      text-align: center;
    }
    .vote-main img {
      padding-bottom: 15px;
    }
}

@media screen and (min-width: 992px) {
    .page-footer p {
        padding-bottom: 10px;
    }
}
