body, html {
    background-color: #efefef;
}

.row {
    margin: 0;
}

/* Nav */

.nav-wrapper a {
    padding: 0px 10px 0px 10px;
}

.nav-wrapper li {
    transition: all 0.25s ease;
    border-bottom: 2px solid transparent;
}

.nav-wrapper li:hover {
    transition: all 0.25s ease;
    border-bottom: 2px solid #3C91E6;
}


/* Header */

.header {
    background-position: center top;
    padding: 50px 0px 50px 0px;
}

.header img {
    max-width: 25%;
}

/* Main */

.main {
    padding-top: 25px 0px 25px 0px;
}

/* Footer */

.page-footer a {
    color: #fff;
    transition: color .2s linear;
}

.page-footer a:hover {
    color: #3C91E6 !important;
}

/* Mobile Stuff */

@media screen and (max-width: 992px) {
    .header img {
        max-width: 50%;
    }
}
